<div>
<div>
    <h2>Age</h2>
   <form class="form">
       <div class="col-lg-6">
           <div class="form-group required">
               <label class="control-label" for="ages">Age group</label>
               <select ng-options="a._id as a.name for a in ages" ng-model="selectedAge" class="form-control" id="ages">
                   <option>Select Age</option>
               </select>
           </div>
       </div>
       <div class="col-lg-6">
       <div class="form-group">
           <label for="name">Name</label>
           <input ng-model="age.name" type="text" class="form-control" id="name" placeholder="Age group name">
       </div>
           <button type="button" ng-disabled="!age.name" ng-click="addAge()" class="btn btn-default">Add</button>
        </div>

   </form>
</div>
<hr>
    <div ng-controller="dtCtrl">
<div >
    <h2>Developmental task</h2>
    <form class="form">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dt" > Select developmental task</label>
                <select class="form-control" ng-options="a._id as a.name for a in dts" ng-model="selectedDt" ng-change="selectedDtChange()" id="dt">
                    <option>Select DT</option>
                </select>
            </div>
            <div ng-if="selectedDt">
                {{findById(dts, selectedDt).description}}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label for="dtName"  class="control-label">Name</label>
                <input type="text" class="form-control" ng-model="dt.name" id="dtName" placeholder="please enter name">
            </div>
            <div class="form-group  required">
                <label for="dtDesc"  class="control-label">Description</label>
                <input type="text" class="form-control" id="dtDesc" ng-model="dt.description" placeholder="Description">
            </div>
            <button type="button" ng-disabled="!dt.description || !dt.name" class="btn btn-default" ng-click="addDt()">Add</button>
        </div>

    </form>
</div>

<div ng-show="selectedDt && selectedAge">
    <h2>Milestone</h2>
    <form class="form">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dt" > Select milestone</label>
                <select class="form-control" ng-model="selectedMS"  ng-change="selectedMSChange()" ng-options="a._id as a.name for a in milestones"  id="ms">

                </select>

            </div>
            <div ng-if="selectedMS">
                {{findById(milestones, selectedMS).description}}
            </div>
            <div ng-show="selectedMS" class="form-group">
            <table class="table">
                <thead>
                <tr> <th>Trait</th>
                    <th>Indicator</th></tr>
<th></th>
                </thead>
<tbody>
<tr ng-repeat="indicator in msIndicators"> <td>{{indicator.trait.name}}</td>
    <td>{{indicator.indicator.name}}</td>
    <td>
         <button type="button"  ng-click="deleteIndicator(indicator)" class="btn btn-danger">Delete</button>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
    <td><select ng-options="d._id as d.name for d in traits" ng-model="selectedTrait" class="form-control" id="traits">
        <option>Select Trait</option>
    </select></td>
    <td><select ng-options="d._id as d.name for d in indicators" ng-model="selectedIndicator" class="form-control" id="indicators">
        <option>Select Indicator</option>
    </select> </td>
    <td><button type="button" ng-disabled="!selectedTrait || !selectedIndicator" ng-click="addIndicator()" class="btn btn-default">Add</button></td>
</tr>
</tfoot>
            </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group required">
                <label for="msName" class="control-label">Name</label>
                <input type="text" class="form-control" id="msName" ng-model="ms.name" placeholder="please enter name">
            </div>
            <div class="form-group required">
                <label for="msDesc" class="control-label">Description</label>
                <input type="text" class="form-control" id="msDesc" ng-model="ms.description" placeholder="Description">
            </div>
            <button type="button" ng-click="addMS()" ng-disabled = "!ms.description || !ms.name" class="btn btn-default">Add</button>
        </div>

    </form>
</div>
<div class="row">

</div>
        <div ng-show="selectedDt && selectedAge && selectedMS" class="panel panel-default">
            <div class="panel-heading">Objectives</div>
            <div class="panel-body">
                <div ng-repeat="objective in objectives">
                   <div>Item:  {{objective.item}}</div>
                   <div> Code : {{objective.code}}</div>

                </div>
            </div>
        </div>
        <div ng-show="selectedDt && selectedAge && selectedMS" class="panel panel-default">
            <div class="panel-heading">Add Objective</div>
            <div class="panel-body">
<div >

<div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading itsRequired">Functionality A x Characteristic</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            <select class="form-control itsRequired"
                                    ng-options="a._id as a.name for a in functionalities"
                                    ng-model="selectedFunctionality1" ng-change = "selectedFunctionality1Change()">


                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <select class="form-control itsRequired"  id="char1"
                                    ng-options="a._id as a.name for a in chars1"  ng-change="renderCode()"
                                    ng-model="selectedChar1">
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading itsRequired">Functionality B x Characteristic</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="dropdown">
                            <select class="form-control itsRequired"
                                    ng-options="a._id as a.name for a in functionalities"
                                    ng-model="selectedFunctionality2" ng-change = "selectedFunctionality2Change()">


                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <select class="form-control itsRequired"  id="char2" ng-change="renderCode()"
                                    ng-options="a._id as a.name for a in chars2"
                                    ng-model="selectedChar2">
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h4>{{code}}</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-1">
                        <h4 class="itsRequired">ITEM</h4>
                    </div>

                    <div class="col-md-11">
                        <div class="dropdown">
                            <input type="text" class="form-control input-lg" placeholder="Name of Item" ng-model="obj.item" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-11">
                        <select class="form-control" ng-options="a.trait._id as a.trait.name for a in msIndicators" ng-model="objTrait"></select>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="input-group">
                                    <span class="input-group-addon itsRequired" >Question</span>
                                    <input type="text" class="form-control"  ng-model="obj.question" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon itsRequired" >Intervention</span>
                                    <input type="text" class="form-control" ng-model="obj.intervention" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon itsRequired" >No of days</span>
                                    <input type="text" class="form-control"  ng-model="obj.noOfDay" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon itsRequired" >No of times every day</span>
                                    <input type="text" class="form-control"  ng-model="obj.noOfTime" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" >Intervention 2</span>
                                    <input type="text" class="form-control" ng-model="obj.intervention2" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" >No of days (2)</span>
                                    <input type="text" class="form-control"  ng-model="obj.noOfDay2" aria-describedby="basic-addon3">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" >No of times every day (2)</span>
                                    <input type="text" class="form-control"  ng-model="obj.noOfTime2" aria-describedby="basic-addon3">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <div>
        <button ng-click="addObjective()" ng-disabled ="!obj.noOfDay || !obj.intervention || !obj.noOfTime || !obj.question || !objTrait || !selectedFunctionality2 || !selectedFunctionality1 || !selectedChar2 || !selectedChar1 || !obj.item" class="btn btn-primary">Add</button>
    </div>
     </div>
            </div>
        </div>

    </div>
</div>