<div>
    <h2>Age</h2>
   <form class="form">
       <div class="col-lg-6">
           <div class="form-group">
               <label for="ages">Age group</label>
               <select class="form-control" id="ages">
                   <option>Select Age</option>
               </select>
           </div>
       </div>
       <div class="col-lg-6">
       <div class="form-group">
           <label for="name">Name</label>
           <input type="email" class="form-control" id="name" placeholder="Age group name">
       </div>
           <button type="button" class="btn btn-default">Add</button>
        </div>

   </form>
</div>
<hr>
<div>
    <h2>Developmental task</h2>
    <form class="form">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dt"> Select developmental task</label>
                <select class="form-control" id="dt">
                    <option>Select DT</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dtName">Name</label>
                <input type="email" class="form-control" id="dtName" placeholder="please enter name">
            </div>
            <div class="form-group">
                <label for="dtDesc">Description</label>
                <input type="email" class="form-control" id="dtDesc" placeholder="Description">
            </div>
            <button type="button" class="btn btn-default">Add</button>
        </div>

    </form>
</div>
<hr>

<div>
    <h2>Milestone</h2>
    <form class="form">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dt"> Select milestone</label>
                <select class="form-control" id="ms">
                    <option>Select milestone</option>
                </select>
            </div>

            <div class="form-group">
            <table class="table">
                <thead>
                <tr> <th>Trait</th>
                    <th>Indicator</th></tr>
<th></th>
                </thead>
<tbody>
<tr>
    <td>Knowing</td>
    <td>Identify by listning</td>
    <td>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
    <td><select class="form-control" id="trait">
        <option>Select Trait</option>
    </select></td>
    <td><input type="text" class="form-control" placeholder="Indicator"> </td>
    <td><button type="button" class="btn btn-default">Add</button></td>
</tr>
</tfoot>
            </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="msName">Name</label>
                <input type="email" class="form-control" id="msName" placeholder="please enter name">
            </div>
            <div class="form-group">
                <label for="msDesc">Description</label>
                <input type="email" class="form-control" id="msDesc" placeholder="Description">
            </div>
            <button type="button" class="btn btn-default">Add</button>
        </div>

    </form>
</div>