<div class="row">
    <div>
        <h2>City tier</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <table class=" table table-bordered ">
                        <thead><tr><th>City tier</th></tr></thead>
                        <tbody>
                        <tr ng-repeat="tier in tiers"><td>
                            <div>{{tier.name}} <span style="color: blue" ng-click="edit(tier)" class="glyphicon glyphicon-pencil"></span>&emsp;<span style="color: red" ng-click="delete(tier)" class="glyphicon glyphicon-remove"></span> </div>
                        </td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tname">Name</label>
                    <input type="text" ng-model="tier.name" class="form-control" id="tname" placeholder="city tier">
                </div>
                <button type="button" ng-if="!editMode" ng-click="add()" class="btn btn-default">Add</button>
                <button type="button" ng-if="editMode" ng-click="update()" class="btn btn-default">Update</button>
            </div>

        </form>
    </div>

</div>