<div>
    <div>
        <h2>DA</h2>
        <form class="form">
            <div class="col-lg-6">

                <div class="form-group">
                    <table><thead><tr><th>Decision Area</th><th></th></tr></thead>
                    <tbody><tr ng-repeat="da in das"><td>{{da.name}}</td><td><button ng-click="edit(da)" class="btn btn-primary">Edit</button> </td></tr></tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    <label for="name" class="itsRequired">Name</label>
                    <input type="text" ng-model="da.name" class="form-control" id="name" placeholder="DA name">
                </div>
                <button type="button" ng-if="!editMode" ng-disabled="!da.name " ng-click="addDa()" class="btn btn-default">Add</button>
                <button type="button" ng-if="editMode" ng-disabled="!da.name " ng-click="update()" class="btn btn-default">Update</button>
            </div>

        </form>
    </div>


</div>


