<div>
    <div>
        <h2>DA</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="das">DA</label>
                    <select ng-options="d._id as d.name for d in das" ng-model="selectedDa" class="form-control" id="das">
                        <option>Select DA</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" ng-model="da.name" class="form-control" id="name" placeholder="DA name">
                </div>
                <button type="button" ng-click="addDa()" class="btn btn-default">Add</button>
            </div>

        </form>
    </div>

</div>

<div>
    <div>
        <h2>DP</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="ages">DP</label>
                    <select class="form-control" id="ages">
                        <option>Select DP</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="age">select age</label>
                    <select class="form-control" id="age">
                        <option>Select age</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dpName">Name</label>
                    <input type="text" class="form-control" id="dpName" placeholder="DP name">
                </div>
                <table class="table-responsive table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Indicator
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Indicator 1</td>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td>
                            <div class="form-group">
                                    <select class="form-control" id="indicators">
                                        <option>Select Indicator</option>
                                    </select>
                            </div>

                        </td>
                        <td><button type="button" class="btn btn-primary">Add</button></td>
                    </tr>
                    </tfoot>
                </table>
                <button type="button" class="btn btn-default">Add</button>
            </div>

        </form>
    </div>

</div>

<div ng-controller="characteristicCtrl">
    <div>
        <h2>Characteristic</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="characteristic">Characteristic</label>
                    <select class="form-control" ng-options="c._id as c.name for c in characteristics" ng-model="selectedChar" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="namec">Name</label>
                    <input type="text" ng-model="characteristic.name" class="form-control" id="namec" placeholder="Characteristic name">
                </div>
                <div class="form-group">
                    <label for="namec">Code</label>
                    <input type="text" ng-model="characteristic.code" class="form-control" id="codec" placeholder="Characteristic code">
                </div>
                <button type="button" ng-click="addCharacteristic()" class="btn btn-default">Add</button>
            </div>

        </form>
    </div>

</div>


<div ng-controller="functionalityCtrl">
    <div>
        <h2>Functionality</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="functionalities">Functionality</label>
                    <select class="form-control" ng-model="selectedFunc" ng-options="f._id as f.name for f in functionalities" ng-change="selectedFuncChange()" id="functionalities">
                    </select>
                </div>
                <table class="table-responsive table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Characteristic
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in  chars">
                        <td>{{c.name}}</td>
                        <td><button type="button" ng-click="removeChar(c)" class="btn btn-danger">Delete</button></td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td>
                            <div class="form-group">
                                <select class="form-control"  ng-options="c._id as c.name for c in characteristics" ng-model="selectedChar" id="characteristicList">
                                    <option>Select Characteristic</option>
                                </select>
                            </div>

                        </td>
                        <td><button type="button" ng-click="addChar()"  class="btn btn-primary">Add</button></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="fnName">Name</label>
                    <input type="text" ng-model="functionality.name" class="form-control" id="fnName" placeholder="Functionality name">
                </div>
                <div class="form-group">
                    <label for="fnCode">Code</label>
                    <input type="text" ng-model="functionality.code" class="form-control" id="fnCode" placeholder="Functionality code">
                </div>

                <button type="button" ng-click="addFunctionality()" class="btn btn-default">Add</button>
            </div>

        </form>
    </div>

</div>

<div ng-controller="traitCtrl" class="row">
    <div>
        <h2>Traits</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="traits">Traits</label>
                    <select ng-options="d._id as d.name for d in traits" ng-model="selectedTrait" class="form-control" id="traits">
                        <option>Select Trait</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tname">Name</label>
                    <input type="text" ng-model="trait.name" class="form-control" id="tname" placeholder="Trait name">
                </div>
                <button type="button" ng-click="addTrait()" class="btn btn-default">Add</button>
            </div>

        </form>
    </div>

</div>