<div>
    <div>
        <h2>DA</h2>
        <form class="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="das">DA</label>
                    <select ng-options="d._id as d.name for d in das" ng-model="selectedDa" class="form-control" id="das">
                        <option>Select DA</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="name" class="itsRequired">Name</label>
                    <input type="text" ng-model="da.name" class="form-control" id="name" placeholder="DA name">
                </div>
                <button type="button" ng-disabled="!da.name" ng-click="addDa()" class="btn btn-default">Add</button>
            </div>

        </form>
    </div>


</div>


