<div>
    <div>
        <h2>Sub item</h2>
        <form class="form">
            <div class="col-lg-6">

                <div class="form-group">
                    <table><thead><tr><th>Sub items</th><th></th></tr></thead>
                        <tbody><tr ng-repeat="si in sis"><td>{{si.name}}</td><td><button ng-click="edit(si)" class="btn btn-primary">Edit</button>&emsp;&emsp;<button ng-click="delete(si)" class="btn btn-danger">delete</button> </td></tr></tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="isSearchable">
                        Enable Search
                    </label>
                </div>
                <div class="form-group">
                    <label for="name" class="itsRequired">Name</label>
                    <input type="text" ng-model="si.name" class="form-control" id="name" placeholder="sub item name">
                </div>
                <div class="form-group">
                    <label for="functionalities">Functionality</label>
                    <select class="form-control" ng-model="si.functionality" ng-options="f._id as f.name for f in functionalities" ng-change="searchSI()" id="functionalities">
                    </select>
                </div>
                <div class="form-group">
                    <label for="characteristic">Category 1</label>
                    <select class="form-control" ng-options="c._id as c.name for c in categories" ng-model="si.characteristics[0].category" ng-change="publishCategory1()" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="characteristic">Characteristic 1</label>
                    <select class="form-control" ng-options="c._id as c.name for c in characteristics1" ng-model="si.characteristics[0].characteristic" ng-change="searchSI()" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="characteristic">Category 2</label>
                    <select class="form-control" ng-options="c._id as c.name for c in categories" ng-model="si.characteristics[1].category" ng-change="publishCategory2()" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="characteristic">Characteristic 2</label>
                    <select class="form-control" ng-options="c._id as c.name for c in characteristics2" ng-model="si.characteristics[1].characteristic" ng-change="searchSI()" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="characteristic">Category 3</label>
                    <select class="form-control" ng-options="c._id as c.name for c in categories" ng-model="si.characteristics[2].category" ng-change="publishCategory3()" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="characteristic">Characteristic 3</label>
                    <select class="form-control" ng-options="c._id as c.name for c in characteristics3" ng-model="si.characteristics[2].characteristic" ng-change="searchSI()" id="characteristic">
                        <option>Select Characteristic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="countries">Country</label>
                    <select class="form-control" ng-options="c._id as c.name for c in countries" ng-model="si.country" ng-change="searchSI()" id="countries">
                        <option>Select Country</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tiers">City tier</label>
                    <select class="form-control" ng-options="c._id as c.name for c in tiers" ng-model="si.tier" ng-change="searchSI()" id="tiers">
                        <option>Select City tier</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genders">Gender</label>
                    <select class="form-control" ng-options="c._id as c.name for c in genders" ng-model="si.gender" ng-change="searchSI()" id="genders">
                        <option>Select gender</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sess">Socio Economic Status</label>
                    <select class="form-control" ng-options="c._id as c.name for c in sess" ng-model="si.ses"  ng-change="searchSI()" id="sess">
                        <option>Socio Economic Status</option>
                    </select>
                </div>
                <div ng-repeat="da in das" class="checkbox">
                    <label >
                        <input type="checkbox" checklist-model="si.das" checklist-value="da._id"> {{da.name}}<br>
                    </label>
                </div>

                <button type="button" ng-if="!editMode" ng-click="add()" class="btn btn-default">Add</button>
                <button type="button" ng-if="editMode"  ng-click="update()" class="btn btn-default">Update</button>
            </div>

        </form>
    </div>


</div>


